@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

@font-face {
    font-family: 'Jegena';
    src: url('Jegena.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brown: #7B2B2C;
    --gold: #CE8829;
    --light: #FFFEE9;
    --dark: #32010E;

    a {
        cursor: pointer;
    }
}

body {
    font-family: 'Amarante', serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--brown);
    color: var(--dark);
    /* overflow-x: hidden; */
    overflow-x: clip;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3rem;
    z-index: 1000;
    /* background-color: #000; */

    .logo {
        padding: 1rem;
        padding-top: 0;
        background-color: var(--brown);
        width: fit-content;
        border-bottom-left-radius: 100vw;
        border-bottom-right-radius: 100vw;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        gap: 1rem;
        padding: 1rem;
        height: fit-content;

        ul {
            display: flex;
            gap: 2rem;
            list-style: none;

            &.pages {
                font-size: 1.5rem;
            }

            li>a {
                color: var(--gold);

                &:hover {
                    color: var(--light);
                }

                /* text-decoration: none; */
            }
        }
    }
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100vh;

    .headline {
        --_font-size: 6rem;
        display: flex;
        justify-content: center;
        font-size: var(--_font-size);
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        text-align: center;
        color: var(--light);
        margin-bottom: -2.5rem;

        .translations {
            color: var(--gold);
            display: flex;
            flex-direction: column;
            align-items: start;
            height: calc(var(--_font-size) + 1rem);
            overflow: hidden;

            span {
                opacity: 1;
                display: inline;
                animation: text-flip 9s ease-in-out infinite;

                &.amharic {
                    font-family: 'Jegena';
                }
            }
        }
    }

    .sunset {
        position: relative;
        margin-inline: auto;

        .sun {
            width: 40rem;
            aspect-ratio: 1/1;
            background-color: var(--gold);
            border-radius: 50% 50% 0 0;
            transform-origin: bottom center;
            animation-name: sunset;
            animation-duration: 1ms;
            animation-timeline: scroll(root);
        }

        .mountains {
            position: absolute;
            bottom: -4px;
            left: 50%;
            transform: translateX(-50%);
        }

        .hero_image {
            position: absolute;
            bottom: -4px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 100;

            .horse {
                /* position: absolute; */
                position: relative;
                transform: translateY(-30%);
            }
        }


    }

    .grain {
        --_offset: -30px;
        position: fixed;
        bottom: var(--_offset);
        z-index: 100;
        opacity: 0.5;


        &.left {
            left: var(--_offset);
        }

        &.right {
            right: var(--_offset);
            transform: rotate(-90deg);
        }
    }
}

@keyframes text-flip {

    0%,
    28% {
        transform: translateY(0%);
    }

    33%,
    61% {
        transform: translateY(-100%);
    }

    66%,
    94% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(-300%);
    }
}

.next_section {
    position: relative;
    height: 100vh;
    z-index: 20;
    --_hill-offset: 200px;

    .mask-container {
        position: relative;
        mask-image: url(hill.svg);
        mask-size: cover;
        mask-position: center top;
        mask-repeat: no-repeat;
        height: calc(100vh + var(--_hill-offset));
        top: calc(var(--_hill-offset) * -1);
        background-color: var(--light);
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 2rem;
        align-items: center;



        .beer-container {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            padding-inline: 4rem;
            /* justify-content: center; */

            .info-container {
                .info-list {
                    margin-top: 1rem;
                    display: flex;
                    gap: 2rem;
                }
            }

            >div {
                &:not(.beer) {
                    flex: 1;
                }
            }

            .beer {
                position: relative;
                margin-inline: auto;
                width: 15rem;
                aspect-ratio: 1/1;
                transform-origin: top center;
                animation-name: beer;
                animation-duration: 1ms;
                animation-timeline: scroll(root);
                display: flex;
                align-items: end;

                img {
                    width: 100%;
                    object-fit: cover;
                }

                #splash {
                    position: absolute;
                    width: 300%;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: -1;
                    animation-name: splash;
                    animation-duration: 1ms;
                    animation-timeline: scroll(root);
                }
            }

            .legal-info-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2rem;

                >img {
                    width: 4rem;
                }
            }
        }
    }

    .hill {
        position: absolute;
        inset: 0;
        pointer-events: none;
        top: calc(var(--_hill-offset) * -1);
        background-image: url(hill-gradient.svg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
    }


}

@keyframes sunset {
    to {
        scale: 0;
    }
}

@keyframes beer {
    from {
        scale: 2;
        transform: translateY(-100vh);
    }
}

@keyframes splash {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
        scale: 1.5
    }

}

@keyframes color-switch {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}